@import "tailwindcss";

@theme {
  /* custom colors */
  --color-primary: #5a67ba;
  --color-complementary: #dee1f1;
  --color-main-white: #fbfbfb;

  --color-main-stone-900: #5c5c5c;
  --color-main-stone-800: #7D7D7D;
  --color-main-stone-700: #aeaeae;

  --color-brand-900: #444c9e;
  --color-brand-800: #5a67ba;
  --color-brand-700: #7B85C8;
  --color-brand-600: #9CA4D6;
  --color-brand-500: #BDC2E3;
  --color-brand-400: #DEE1F1;

  --color-success-main: #00a35e;
  --color-warning-main: #df7b02;
  --color-info-main: #308af4;
  --color-error-main: #de1929;

  /* custom brackpoints */
  --breakpoint-1920: 1920px;
  --breakpoint-1366: 1366px;
  --breakpoint-1024: 1024px;
  --breakpoint-744: 744px;
  --breakpoint-375: 375px;
  --breakpoint-100: 100px;
}
